[submodule "submodules/include-what-you-use"]
	path = submodules/include-what-you-use
	url = https://github.com/include-what-you-use/include-what-you-use.git
[submodule "submodules/boost.outcome"]
	path = submodules/boost.outcome
	url = https://github.com/ned14/outcome.git
[submodule "submodules/Catch"]
	path = submodules/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "submodules/FakeIt"]
	path = submodules/FakeIt
	url = https://github.com/eranpeer/FakeIt.git
[submodule "submodules/boost.beast"]
	path = submodules/boost.beast
	url = https://github.com/boostorg/beast.git
